.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

#pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    background-color: #f2f2f2;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 200px;
    margin: 10px;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
    cursor: pointer;
}

.card h3 {
    text-align: center;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    max-width: 600px;
    border-radius: 5px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#pokemon-info {
    text-align: center;
}

#pokemon-info h2 {
    margin-bottom: 10px;
}

#pokemon-info img {
    display: block;
    margin: 0 auto;
    width: 120px;
    height: 120px;
}